node_modules
yarn-error.log

# db files usually for testing
*.db

.deno_plugins

tmp/
.DS_Store
*.code-workspace

# build output
dist/
packaged/
icons/out
icons/src/temp-icon.png

# bundler (dev) outputs .bundle files
# along-side src files, used during development
*.bundle.*
# eh, if its index.bundle.css, the ts import fails, shrug
index-compiled.css
src/index-compiled.css

# claude code local files
# todo: What is best practice for worktrees? Should they be in the repo?
.claude/settings.local.json
.claude/worktrees/
.gemini/worktrees/
.codex/worktrees/