node_modules
yarn-error.log

# db files usually for testing
*.db

.deno_plugins

tmp/
.DS_Store
*.code-workspace

# build output
dist/
packaged/
icons/out
icons/src/temp-icon.png

# bundler (dev) outputs .bundle files
# along-side src files, used during development
*.bundle.*
# eh, if its index.bundle.css, the ts import fails, shrug
index-compiled.css