node_modules
yarn-error.log

# db files usually for testing
*.db

.deno_plugins

tmp/
.DS_Store
*.code-workspace

# build output
dist/
packaged/

# Generated prisma client
# Configured in schema.prisma
prisma/