@tailwind base;
@tailwind components;
@tailwind utilities;

/* This section initially added as recommended copypasta https://platejs.org/docs/components/installation/manual */
@layer base {
  :root {
    --font-sans: sans-serif;
    --font-serif: "IBM Plex Serif", serif;
    --font-mono: "IBM Plex Mono", monospace;
    --font-body: "Mona Sans", var(--font-sans);
    --font-heading: "Hubot Sans", "IBM Plex Mono", sans-serif;
    --font-heading-2: var(--font-heading);
    --font-heading-3: var(--font-heading);

    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --tooltip: 222.2 84% 4.9%;
    --tooltip-foreground: 0 0% 100%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 72.22% 50.59%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
    /* The MacOS titlebar takes up this space, other components should push below it */
    --titlebar-height: 3.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --tooltip: 222.2 84% 4.9%;
    --tooltip-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 217.2 32.6% 17.5%;
  }
}

/**
 * todo: The next two classes are because in PlateContainer I do not have
 * access to the custom elements, but they have these slate-* classes.
 * Eventually, should in-house them, or update plate and / or pass in
 * element definitions to its plugins - it likely supports them!
 */
.slate-bold {
  font-weight: 600;
}

.slate-li {
  /* See List.tsx for the rest of the styles! */
  margin-bottom: 0.35em;
}

.slate-code::before,
.slate-code::after {
  content: "`";
  color: hsl(var(--muted-foreground)); /* or use a token */
}

@layer base {
  * {
    /* Applies my --border color as border-color to all elements */
    @apply border-border;
  }
  body {
    /* Applies --background color via background-color to body (bg-background is expanded by tailwind) */
    @apply bg-background text-foreground;
    font-family: var(--font-body);
  }
}

/* Remove focus outline from Plate editor; probably more specific way to do this */
div {
  outline: none;
}

/**
 * When first elements of each note have margin-top,
 * like heading elements, it acts like extra padding in the
 * note.
 */
.content-section > :first-child {
  margin-top: 0;
}
